body {
  margin: 0;
  padding: 0;
}

.nav-section {
  padding: 2rem;
  background-color: lightblue;
}

.logo {
  float: left;
  position: relative;
  top: 2px;
}

.img {
  float: right;
  background-color: antiquewhite;
  width: min-content;
}