* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.main-section {
  height: 100vh;
}

.section-top-left {
  float: inline-start;
  margin: 1rem;
  padding-right: calc(50vw - 2rem);
  background-color: beige;
  width: auto;
  height: 30vh;
}

.section-bottom-left {
  float: inline-end;
  margin: 1rem;
  padding-right: calc(50vw - 2rem);
  background-color: brown;
  width: auto;
  height: calc(100vh - 30vh - 4rem);
}

.section-right {
  float: right;
  margin: 1rem;
  padding-left: calc(50vw - 2rem);
  background-color: burlywood;
  width: auto;
  height: calc(100vh - 2rem);
}