* {
  margin: 0;
  padding: 0;
}

.section {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem .3rem .3rem gray;
  position: relative; 
}

.important::before {
  content: "";
  padding: 4px;
  background-color: red;
  position: absolute;
  left: calc(100% - 24px);
  border-radius: 4px;
}

.button {
  background-color: blue;
  padding: 1rem;
  margin: 1rem;
  color: yellow;
  border-radius: 0.5rem;
  border: 0px solid transparent;
}

.button:hover {
  background-color: rgba(0, 0, 255, 0.795);
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.button:active {
  background-color: darkblues;
}

.btn-container {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  position: relative;
}

.menu-button {
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  border: 0px solid transparent;
  width: 5rem;
}

.menu-button:hover {
  background-color: rgb(58, 58, 58);
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  border: 0px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-button::before {
  content: "";
  position: absolute;
  border: 0.5rem solid transparent;
  border-top: 1rem solid black;
  left: calc(50% - 0.5rem);
  top: 4rem;
}

.menu-button:hover .menu {
  display: block;
  transition: display 0.3s;
}

.menu {
  display: none;
  position: absolute;
  padding: 1rem;
  margin: 1rem 0rem;
  color: black;
  background-color: aquamarine;
  border-radius: 0.5rem;
  width: 24vw;
  left: calc(50% - 12vw - 1.5rem);
  top: calc(100% - 1rem);
}

.menu span {
  display: block;
}