* {
  margin: 0;
  box-sizing: border-box;
}

.section {
  padding: 1rem;
  margin: 1rem;
  background-color: lightblue;
  height: 90vh;
}

.article {
  padding: 1rem;
  box-shadow: 0px 0px 4px 2px lightgray;
  display: flex;
}

.article:nth-child(1) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.article:nth-child(2) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.article:nth-child(3) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.article:nth-child(4) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.article:nth-child(5) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.article:nth-child(6) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.article:nth-child(7) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.article:nth-child(8) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.article:nth-child(9) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.article:nth-child(10) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.article:nth-child(11) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.article:nth-child(12) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.article:nth-child(13) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.article:nth-child(14) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.article:nth-child(15) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(16) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.article:nth-child(17) {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.article:nth-child(18) {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.article:nth-child(19) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.article:nth-child(20) {
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.article:nth-child(21) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.article:nth-child(22) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.article:nth-child(23) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.article:nth-child(24) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

/* Main Section 25 */
.article:nth-child(25) {
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}

.article:nth-child(26) {
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
}

.article:nth-child(27) {
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.article:nth-child(28) {
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.article:nth-child(29) {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.article:nth-child(30) {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.article:nth-child(31) {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.article:nth-child(32) {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

.article:nth-child(33) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.article:nth-child(34) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.article:nth-child(35) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.article:nth-child(36) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: stretch;
}

.article:nth-child(37) {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

.article:nth-child(38) {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.article:nth-child(39) {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.article:nth-child(40) {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

.article:nth-child(41) {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.article:nth-child(42) {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.article:nth-child(43) {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(44) {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.article:nth-child(45) {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.article:nth-child(46) {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

.article:nth-child(47) {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.article:nth-child(48) {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: stretch;
}

.article:nth-child(49) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
}

.article:nth-child(50) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
}

/* Main Section 51 */
.article:nth-child(51) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.article:nth-child(52) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: stretch;
}

.article:nth-child(53) {
  flex-direction: row-reverse;
  justify-content: stretch;
  align-items: flex-start;
}

.article:nth-child(54) {
  flex-direction: row-reverse;
  justify-content: stretch;
  align-items: flex-end;
}

.article:nth-child(55) {
  flex-direction: row-reverse;
  justify-content: stretch;
  align-items: center;
}

.article:nth-child(56) {
  flex-direction: row-reverse;
  justify-content: stretch;
  align-items: stretch;
}

.article:nth-child(57) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.article:nth-child(58) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.article:nth-child(59) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.article:nth-child(60) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.article:nth-child(61) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.article:nth-child(62) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.article:nth-child(63) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.article:nth-child(64) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.article:nth-child(65) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article:nth-child(66) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.article:nth-child(67) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article:nth-child(68) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.article:nth-child(69) {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.article:nth-child(70) {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.article:nth-child(71) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(72) {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.article:nth-child(73) {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.article:nth-child(74) {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.article:nth-child(75) {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.article:nth-child(76) {
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.article:nth-child(77) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.article:nth-child(78) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.article:nth-child(79) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.article:nth-child(80) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.article:nth-child(81) {
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.article:nth-child(82) {
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-end;
}

.article:nth-child(83) {
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.article:nth-child(84) {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.article:nth-child(85) {
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.article:nth-child(86) {
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.article:nth-child(87) {
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.article:nth-child(88) {
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

.article:nth-child(89) {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.article:nth-child(90) {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.article:nth-child(91) {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.article:nth-child(92) {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: stretch;
}

.article:nth-child(93) {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
}

.article:nth-child(94) {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.article:nth-child(95) {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.article:nth-child(96) {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
}

.article:nth-child(97) {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.article:nth-child(98) {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.article:nth-child(99) {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(100) {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.article:nth-child(101) {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.article:nth-child(102) {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

.article:nth-child(103) {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.article:nth-child(104) {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: stretch;
}

.article:nth-child(105) {
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
}

.article:nth-child(106) {
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
}

.article:nth-child(107) {
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.article:nth-child(108) {
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: stretch;
}

.article:nth-child(109) {
  flex-direction: column-reverse;
  justify-content: stretch;
  align-items: flex-start;
}

.article:nth-child(110) {
  flex-direction: column-reverse;
  justify-content: stretch;
  align-items: flex-end;
}

.article:nth-child(111) {
  flex-direction: column-reverse;
  justify-content: stretch;
  align-items: center;
}

.article:nth-child(112) {
  flex-direction: column-reverse;
  justify-content: stretch;
  align-items: stretch;
}
